.action{
    background-color: #E71D36;
    color: #FDFFFC;
    border: none;
    border-radius: 1rem;
    padding: 4px calc(.5rem + 4px);
    font-size: 0.8rem;
    font-weight: 500;
}

.disable{
    background-color: rgb(224, 224, 224);
    color: #011627;
    border: none;
    border-radius: 1rem;
    padding: 4px calc(.5rem + 4px);
    font-size: 1rem;
    font-weight: 500;
}

.enable{
    background-color: #011627;
    color: #FDFFFC;
    border: none;
    border-radius: 1rem;
    padding: 4px calc(.5rem + 4px);
    font-size: 1rem;
    font-weight: 500;
}

.disable:hover{
    background-color: #FF9F1C;
    box-shadow: 1px 2px #011627, inset 1px 2px #011627;
}