.action{
    background-color: #E71D36;
    color: #FDFFFC;
    border: none;
    border-radius: 1rem;
    padding: 4px calc(.5rem + 4px);
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.disable{
    background-color: rgb(224, 224, 224);
    color: #011627;
    border: none;
    border-radius: 1rem;
    padding: 4px calc(.5rem + 4px);
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.enable{
    background-color: #011627;
    color: #FDFFFC;
    border: none;
    border-radius: 1rem;
    padding: 4px calc(.5rem + 4px);
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.disable:hover {
  background-color: #ff9f1c;
  box-shadow: 1px 2px #011627, inset 1px 2px #011627;
}

.action :hover{
  color: #011627;
}

/* .navbar_button {
  color: #011627;
  background-color: transparent;
  
  background-color: #d5d5d5;
  padding: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin:5px;
  border: 0;
  border-radius: 20px;
  font-size: 20px;
}
.navbar_button:hover {
  background-color: teal;
  color: white;
} */
