.card-grey{
    width: 60vw;
    max-height: 60vh;
    position: relative;
    left: 20vw;
    top: 8vw;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}

.card-heading{
    width: 60vw;
    height: 5vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #011627;
    /* for vertically align  */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    place-items: center;
}

.card-heading p{
    font-family: 'Montserrat';
    color: #FDFFFC;
    text-align: center;
    margin: 0px;
    overflow: hidden;
}
