.help-section{
    height: 100vw;
    width: 97vw;
    /* display: flex; */
    /* justify-content: space-around; */
    border: 2px solid blue;
}

img{
    width: 50vw;
    height: 30vw;
    /* display: flex; */
}

input {
    width: 30vw;
    height: 15vw;
    border: 2px solid red;
    /* display: flex; */
    /* float: right; */
}

@media screen and (max-width: 500px) {
    img{
        width: 100vw;
        height: 60vw;
        /* display: flex; */
    }
    
    input {
        width: 60vw;
        height: auto;
        border: 2px solid rgb(75, 75, 75);

    }   
}