.nav {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-bottom: 10px;
  border: 2px solid tomato;
}
.nav_logo {
  width: 50px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
  border-radius: 50%;
}
.nav_container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}
