.nav {
  height: auto;
  /* width: 100%; */
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid tomato;
}
.nav_logo {
  height: 50px;
  object-fit: contain;
  /* margin: 0 20px; */
  /* margin-top: 10px; */
  /* border-radius: 50%; */
}
.nav_container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}
